<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="local" connectionString="Server=datacenter;Database=Leal_leo;User Id=sa;Password=Maverick20016+;"/>
    <add name="Leal" connectionString="Server=abaslealbd.ddns.net;Database=Leal;User Id=sa;Password=Maverick20016+;"/>
    <add name="Monterrey" connectionString="Server=abaslealbd.ddns.net;Database=Leal_mty;User Id=sa;Password=Maverick20016+;"/>
    <add name="Alexander" connectionString="Server=abaslealbd.ddns.net;Database=Leal_ale;User Id=sa;Password=Maverick20016+;"/>
    <add name="Guadalajara" connectionString="Server=abaslealbd.ddns.net;Database=Leal_gdl;User Id=sa;Password=Maverick20016+;"/>
    <add name="México" connectionString="Server=abaslealbd.ddns.net;Database=Leal_mex;User Id=sa;Password=Maverick20016+;"/>
    <add name="León" connectionString="Server=abaslealbd.ddns.net;Database=Leal_leo;User Id=sa;Password=Maverick20016+;"/>
    <add name="Veracruz" connectionString="Server=abaslealbd.ddns.net;Database=Leal_ver;User Id=sa;Password=Maverick20016+;"/>
    <add name="Culiacan" connectionString="Server=abaslealbd.ddns.net;Database=Leal_cul;User Id=sa;Password=Maverick20016+;"/>
    <add name="leoCopy" connectionString="Server=abaslealbd.ddns.net;Database=Leal_leo_copy;User Id=sa;Password=Maverick20016+;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SIFEIPortBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.16.251:8080/DESKTOP33/SIFEI"
                binding="basicHttpBinding"  bindingConfiguration="SIFEIPortBinding"
                contract="srvSifeiTimbrador.SIFEI" name="SIFEIPort"/>
    </client>
  </system.serviceModel>
</configuration>
