<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SIFEIPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.16.251:8080/DESKTOP33/SIFEI"
                binding="basicHttpBinding" bindingConfiguration="SIFEIPortBinding"
                contract="srvSifeiTimbrador.SIFEI" name="SIFEIPort" />
        </client>
    </system.serviceModel>
</configuration>