<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CsPresentacion.Properties.Settings.ConnectionString"
            connectionString="Data Source=GIRO\SQL2008;Persist Security Info=True;User ID=sa;Password=Pa55word"
            providerName="System.Data.SqlClient" />
        <add name="CsPresentacion.Properties.Settings.asahi16ConnectionString"
            connectionString="Data Source=GIRO\SQL2008;Initial Catalog=asahi16;User ID=sa;Password=Pa55word"
            providerName="System.Data.SqlClient" />
        <add name="CsPresentacion.Properties.Settings.AsahiSystemConnectionString"
            connectionString="Data Source=GIRO\SQLEXPRESS;Initial Catalog=AsahiSystem;Persist Security Info=True;User ID=sa;Password=Pa55word"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>